{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row mb-3">
    <div class="col-lg-6">
        <div class="card shadow mb-4">

            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">
                    Service # {{ service.id }}
                </p>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="mb-3"><label class="form-label"
                                                 for="status"><strong>Status</strong></label>&nbsp;
                            {{ service.status.nom }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3"><label class="form-label" for="username"><strong>Type</strong></label><br/>{{ service.type.nom }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3"><label class="form-label" for="email"><strong>Pick up
                                        time</strong></label><br/>{{ service.serviceAt ? service.serviceAt|date('d-m-Y H:i') : '' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3"><label class="form-label"
                                                                for="first_name"><strong>From</strong></label><br/>{{ service.pickUpFrom.nom }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3"><label class="form-label"
                                                                for="last_name"><strong>To</strong></label><br/>{{ service.pickUpTo.nom }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3">
                                <label class="form-label"
                                       for="pax"><strong>PAX</strong></label><br/>{{ service.pax }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3">
                                <label class="form-label"
                                       for="last_name"><strong>Bagages</strong></label><br/>{{ service.bagages }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3">
                                <label class="form-label"
                                       for="pax"><strong>Client</strong></label><br/>{{ service.client.nom ?? 'N/A' }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3">
                                <label class="form-label"
                                       for="last_name"><strong>Montant HT</strong></label><br/>{{ service.montantHt }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3">
                                <label class="form-label" for="chauffeur"><strong>Chauffeur</strong></label><br/>
                                {{ service.chauffeur.nom ?? 'N/A' }}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3 border p-3">
                                <label class="form-label" for="sous_traitent"><strong>Sous
                                        traitent</strong></label><br/>
                                {{ service.sousTraitent.nom ?? 'N/A' }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3  border p-3"><label class="form-label" for="Information"><strong>Information
                                        complementaires</strong><br></label><br/>
                                {{ service.informationComplementaire }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-end">
                            <div class="mb-3">
                                <a class="btn btn-primary btn-sm" role="button" href="{{ path('app_service_index') }}">Retour</a>
                                <a class="btn btn-warning btn-sm" role="button" href="{{ path('app_service_edit', {'id': service.id}) }}">Edit</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {#        <div class="col-lg-6"> #}
        {#            <div class="row mb-3 d-none"> #}
        {#                <div class="col"> #}
        {#                    <div class="card text-white bg-primary shadow"> #}
        {#                        <div class="card-body"> #}
        {#                            <div class="row mb-2"> #}
        {#                                <div class="col"> #}
        {#                                    <p class="m-0">Peformance</p> #}
        {#                                    <p class="m-0"><strong>65.2%</strong></p> #}
        {#                                </div> #}
        {#                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div> #}
        {#                            </div> #}
        {#                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                </div> #}
        {#                <div class="col"> #}
        {#                    <div class="card text-white bg-success shadow"> #}
        {#                        <div class="card-body"> #}
        {#                            <div class="row mb-2"> #}
        {#                                <div class="col"> #}
        {#                                    <p class="m-0">Peformance</p> #}
        {#                                    <p class="m-0"><strong>65.2%</strong></p> #}
        {#                                </div> #}
        {#                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div> #}
        {#                            </div> #}
        {#                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                </div> #}
        {#            </div> #}
        {#            <div class="row"> #}
        {#                <div class="col"> #}
        {#                    <div class="card shadow mb-3"> #}
        {#                        <div class="card-header py-3"> #}
        {#                            <p class="text-primary m-0 fw-bold">User Settings</p> #}
        {#                        </div> #}
        {#                        <div class="card-body"> #}
        {#                            <form> #}
        {#                                <div class="row"> #}
        {#                                    <div class="col"> #}
        {#                                        <div class="mb-3"><label class="form-label" #}
        {#                                                                 for="username"><strong>Username</strong></label><input #}
        {#                                                    id="username" class="form-control" type="text" #}
        {#                                                    placeholder="user.name" name="username"/></div> #}
        {#                                    </div> #}
        {#                                    <div class="col"> #}
        {#                                        <div class="mb-3"><label class="form-label" for="email"><strong>Email #}
        {#                                                    Address</strong></label><input id="email" class="form-control" #}
        {#                                                                                   type="email" #}
        {#                                                                                   placeholder="user@example.com" #}
        {#                                                                                   name="email"/></div> #}
        {#                                    </div> #}
        {#                                </div> #}
        {#                                <div class="row"> #}
        {#                                    <div class="col"> #}
        {#                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>First #}
        {#                                                    Name</strong></label><input id="first_name" class="form-control" #}
        {#                                                                                type="text" placeholder="John" #}
        {#                                                                                name="first_name"/></div> #}
        {#                                    </div> #}
        {#                                    <div class="col"> #}
        {#                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Last #}
        {#                                                    Name</strong></label><input id="last_name" class="form-control" #}
        {#                                                                                type="text" placeholder="Doe" #}
        {#                                                                                name="last_name"/></div> #}
        {#                                    </div> #}
        {#                                </div> #}
        {#                                <div class="mb-3"> #}
        {#                                    <button class="btn btn-primary btn-sm" type="submit">Save Settings</button> #}
        {#                                </div> #}
        {#                            </form> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                    <div class="card shadow"> #}
        {#                        <div class="card-header py-3"> #}
        {#                            <p class="text-primary m-0 fw-bold">Contact Settings</p> #}
        {#                        </div> #}
        {#                        <div class="card-body"> #}
        {#                            <form> #}
        {#                                <div class="mb-3"><label class="form-label" #}
        {#                                                         for="address"><strong>Address</strong></label><input #}
        {#                                            id="address" class="form-control" type="text" placeholder="Sunset Blvd, 38" #}
        {#                                            name="address"/></div> #}
        {#                                <div class="row"> #}
        {#                                    <div class="col"> #}
        {#                                        <div class="mb-3"><label class="form-label" #}
        {#                                                                 for="city"><strong>City</strong></label><input #}
        {#                                                    id="city" class="form-control" type="text" placeholder="Los Angeles" #}
        {#                                                    name="city"/></div> #}
        {#                                    </div> #}
        {#                                    <div class="col"> #}
        {#                                        <div class="mb-3"><label class="form-label" #}
        {#                                                                 for="country"><strong>Country</strong></label><input #}
        {#                                                    id="country" class="form-control" type="text" placeholder="USA" #}
        {#                                                    name="country"/></div> #}
        {#                                    </div> #}
        {#                                </div> #}
        {#                                <div class="mb-3"> #}
        {#                                    <button class="btn btn-primary btn-sm" type="submit">Save Settings</button> #}
        {#                                </div> #}
        {#                            </form> #}
        {#                        </div> #}
        {#                    </div> #}
        {#                </div> #}
        {#            </div> #}
        {#        </div> #}
    </div>
    </div>
    {{ include('service/_delete_form.html.twig') }}
{% endblock %}