{% extends 'base.html.twig' %}

{% block title %}Parametre index{% endblock %}

{% block body %}
    <h1>Parametre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ManagerId</th>
                <th>ProdUrl</th>
                <th>DevUrl</th>
                <th>BotToken</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>{{ parametre.managerId }}</td>
                <td>{{ parametre.prodUrl }}</td>
                <td>{{ parametre.devUrl }}</td>
                <td>{{ parametre.botToken }}</td>
                <td>
                    <a href="{{ path('app_parametre_show', {'id': parametre.id}) }}">show</a>
                    <a href="{{ path('app_parametre_edit', {'id': parametre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parametre_new') }}">Create new</a>
{% endblock %}
